:root {
  /* шрифти */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* колір текста */
  --primary-color: #212121;
  --accent-color: #2196f3;
  --white-col: #ffffff;
  --gray-col: #757575;
}

body {
  font-family: var(--main-font);
  background-color: var(--white-col);
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

/*==================================
 секція heder навігація ,логотип*/

.header-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;

  color: var(--accent-color);
  text-decoration: none;
}
.accent {
  color: #000;
}

/* навігація */

.header-nav {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}

.header-kontact {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--gray-col);
  text-decoration: none;
}
.header-kontact,
.header-nav {
  list-style: none;
}

/*===========================
 секція герой */
.section-hero {
  background: #2f303a;
  text-align: center;
}
.header-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-col);
}
.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-col);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* секція 3 features особливості */
.features {
  list-style: none;
}
.section-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.section-text {
  font-size: 14px;
  line-height: 1.71429;
  color: var(--gray-col);
}

/* секція 4 чим ми займаїмось */
.section-heading {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.ourwork {
  list-style: none;
}

/* секція 5 наша команда */
.team {
  background: #f5f4fa;
}
.our-team {
  list-style: none;
}
.section-headline {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.work {
  font-size: 16px;
  color: var(--gray-col);
  text-align: center;
}

/*===================================
 секція 6 підвал */
.footer-main {
  background: #2f303a;
}
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
  text-decoration: none;
}
.footer-studio {
  color: var(--white-col);
}
.address {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71429;
  color: var(--white-col);
}
.address-mail,
.address-tel {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71429;
  color: rgba(255, 255, 255, 0.6);
}

.footer:hover,
.footer:focus {
  color: #ffffff;
}
.footer {
  list-style: none;
  text-decoration: none;
}

/* ==================================================
  --portfolio--
 */
.btn-nav {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--white-col);
  background-color: var(--accent-color);
  cursor: pointer;
}
.btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  background: #f5f4fa;
  color: #212121;
}
.nav:hover,
.nav:focus {
  color: var(--white-col);
  background-color: var(--accent-color);
}
.btn-projects {
  list-style: none;
}

/* секція проекти */
.proect-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
.proect-txt {
  font-size: 16px;
  line-height: 1.875;
  color: var(--gray-col);
}
.projects {
  list-style: none;
  text-decoration: none;
}
